<%- include partials/header.ejs %>
<body>
    <%- include partials/navbar.ejs %>
    <div class="container">
        <hr>
        <h1> GuiaPress </h1>
        <div class="container">
            <h2> Categories </h2>

        </div>
        <hr>
  

</body>
<%- include partials/footer.ejs %>
